<mat-accordion>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Kirjoita hakusana</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="searchTerm">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </p>
    <mat-expansion-panel *ngFor="let item of cinemaData$ | async | pipeCinema: searchTerm">

        <mat-expansion-panel-header>

            <mat-panel-title>
                {{item.PublishDate | date:"dd.MM.yy"}}
            </mat-panel-title>
            <mat-panel-description>
                {{item.Title}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        {{item.Title}}
        <p><img src="{{item.ImageURL}}"></p>
    </mat-expansion-panel>
</mat-accordion>